button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    border: none;
  }
body{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(44, 44, 44);
    font-family:sans-serif;
    color:white;
    caret-color: transparent;

}
#content-wrap{
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cube{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition-duration: 0.4s;
}
.highlight:hover{
    background-color: rgb(71, 71, 71);
}
#game-display{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    cursor: pointer;
}
button{
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    color:white;
    transition-duration: 0.4s;
    margin: 20px 0 40px 0;
}
button:hover{
    background-color: white;
    color:rgb(44, 44, 44);
    transform: scale(1.05);
}
.glitch{
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    position: relative;
    text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.025em -0.05em 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 rgba(0,0,255,.75);
    
    animation: glitch 900ms infinite;
}
.glitch {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    animation: glitch 500ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    /* color: green; */
    opacity: 0.8;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    /* color: red; */
    opacity: 0.8;
  }
  
  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
  

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

.footer-elements{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding-bottom: 10px;
    width: 100%;
    position:absolute;
    bottom: 0;
    height: 2.5rem;
}
.footer{
    color: rgb(255, 255, 255);
}
.footer-git:hover{
    transform: rotate(360deg) scale(1.1);
    transition-duration:0.5s;
}
.status{
   font-size: 4rem;
   text-align: center;
   color: rgb(253, 250, 250);
   font-weight: bolder;
   text-shadow: -6px -1px 11px rgb(0, 0, 0);
}

.modal{
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none
}
.modal::backdrop{
    backdrop-filter: blur(5px);
}